.col-md-12.panel.panel-primary
  .col-md-8
    %h1
      =@profile.username
      %br
      %small= "#{@followed_by_count} followers"
    %h3= @profile.bio
  .col-md-4
    =image_tag @profile.profile_picture, class: 'thumbnail'
  .col-md-12
    %table.table.table-bordered
      %tr
        %td
          Follow count
        %td= @job.follow_count
      %tr
        %td
          Unfollow count
        %td= @job.unfollow_count
      %tr
        %td
          Total followers
        %td= @job.total_followers
      %tr
        %td
          Current status
        %td= @job.status
  %p
    -if @job.status.eql? 'following'
      =form_tag new_unfollow_job_path do |f|
        =hidden_field_tag 'id', @profile.id
        =submit_tag 'Cancel', class: 'btn btn-danger form-control'

    -elsif @job.status.eql? 'waiting'
      =form_tag new_unfollow_job_path do |f|
        =hidden_field_tag 'id', @profile.id
        =submit_tag 'Start unfollowing', class: 'btn btn-success form-control'
